<%# locals: {puzzle:} %>
<%= turbo_frame_tag "game_board" do %>
    <%= turbo_stream_from(:cell_squares) %>
    <div class="board" >
        <% puzzle.rows.each do |row| %>
            <% row.cells.each do |cell| %>
                <%= render "cell_square", value: cell.value, ci: cell.ci, cj: cell.cj, options: cell.options %>
            <% end %>
        <% end %>
    </div>
<% end %>
