<div class="section yellow-knit-bg" data-anchor="credits">
  <div class="yellow-bg block">
    <%= render "up_arrow", target: "projects" %>
    <h3 class="subheading">Images and Icons Used</h3>
    <ul style="text-align: left; margin-left: 20px; color: white;">
      <li>Photo by Mike Murray: <a href="https://www.pexels.com/photo/close-up-shot-of-a-green-knitted-textile-5908365/">https://www.pexels.com/photo/close-up-shot-of-a-green-knitted-textile-5908365/</a></li>
      <li>Photo by Engin Akyurt: <a href="https://www.pexels.com/photo/brown-knitted-textile-1487703/">https://www.pexels.com/photo/brown-knitted-textile-1487703/</a></li>
      <li>Photo by Arina Krasnikova: <a href="https://www.pexels.com/photo/beige-woven-knit-textile-7002938/">https://www.pexels.com/photo/beige-woven-knit-textile-7002938/</a></li>
      <li><a href="https://www.flaticon.com/free-icons/profile" title="profile icons">Profile icons created by Prosymbols Premium - Flaticon</a></li>
      <li><a href="https://www.flaticon.com/free-icons/cv" title="CV icons">CV icons created by spaceman.design - Flaticon</a></li>
      <li><a href="https://github.com/alvarotrigo/fullPage.js">FullPage.js</a> for scrolling </li>
    </ul>
  </div>
</div>