<div style="bottom: 20px; z-index: 1; cursor: pointer;" data-target="<%= target %>" class="section-nav-link vertical-arrow" >
    <%= image_tag "caret-down.png", alt: "Scroll Down", class: "navigation-icon" %>
</div>