<div style="top: 20px; z-index: 1; cursor: pointer;" data-target="<%= target %>" class="section-nav-link vertical-arrow desktop-only" >
    <%= image_tag "caret-up.png", alt: "Scroll Up", class: "navigation-icon" %>
</div>