<div style="position: absolute; top: 20px; z-index: 1; cursor: pointer;" data-target="<%= target %>" class="section-nav-link" >
    <%= image_tag "caret-up.png", alt: "Scroll Up", class: "contact-icon" %>
</div>